
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<img src="/assets/image/connections/{{mount.condensed}}Base.png" alt="Selected Robot Base" id="robotBase" style="height:auto; width:100%"/>
		</div>
		<div class="col-6">
			<img src="/assets/image/connections/{{mount.condensed}}Flange.png" alt="Selected Robot Flange" id="robotFlange" style="height:auto; width:100%"/>
		</div>				
	</div>
</div>

<footer>
	<nav class="navbar fixed-bottom navbar-light bg-faded">
		<span class="bottomTwo">
			<a class="navbar-brand" id="navHome" href="/">Home</a>
			<a class="navbar-brand" id="navContact" href="/contact">Contact</a>	
		</span>	
	</nav>
</footer>