
<body>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="mountingTitle">Here is the mounting information for a {{mount.forModel}} robot.</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="baseTitle">Robot base information.</div>
<!--			<img src="/assets/image/connections/{{mount.forImage}}Base.png" alt="Selected Robot Base" id="baseImage" style="height:auto; width:100%"/>  -->
				<img src="/assets/image/box-assy.png" alt="Selected Robot Base" id="baseImage" style="height:auto; width:100%"/>
		</div>
		<div class="col-6">
			<div class="flangeTitle">Robot flange information.</div>
			<img src="/assets/image/connections/{{mount.forImage}}Flange.png" alt="Selected Robot Flange" id="flangeImage" style="height:auto; width:100%"/>
		</div>				
	</div>
</div>

<footer>
	<nav class="navbar fixed-bottom navbar-light bg-faded">
		<span class="bottomTwo">
			<a class="navbar-brand" id="navHome" href="/">Home</a>
			<a class="navbar-brand" id="navContact" href="/contact">Contact</a>	
		</span>	
	</nav>
</footer>