
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<img src="/assets/image/connections/{{mount.tight}}Base.png" alt="Selected Robot Base" id="baseImage" style="height:auto; width:100%"/>
		</div>
		<div class="col-6">
			<img src="/assets/image/connections/{{mount.tight}}Flange.png" alt="Selected Robot Flange" id="flangeImage" style="height:auto; width:100%"/>
		</div>				
	</div>
	<div class="row">
		<img src="/assets/image/connections/M900iB350Flange.png" alt="Test image" id="testFlange" style="height:auto; width:100%"/>
	</div>
</div>

<footer>
	<nav class="navbar fixed-bottom navbar-light bg-faded">
		<span class="bottomTwo">
			<a class="navbar-brand" id="navHome" href="/">Home</a>
			<a class="navbar-brand" id="navContact" href="/contact">Contact</a>	
		</span>	
	</nav>
</footer>