
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<img src="/assets/image/connections/{{mount.condensed}}Base.png" alt="Selected Robot Base" id="robotBase" style="height:auto; width:100%"/>
		</div>
		<div class="col-6">
			<img src="/assets/image/connections/{{mount.condensed}}Flange.png" alt="Selected Robot Flange" id="robotFlange" style="height:auto; width:100%"/>
		</div>				
	</div>
</div>