
body {
  background-color: white;
}
/* index page */
.form-check-inline {
	margin-top: 24px;
}

.form-check-label {
	margin-left: 24px;
}

#radioMetric,
#radioUS {
	margin-right: 6px;
}

.row-label {
	margin-bottom: 2px;
}
/* results page */
.results,
.model,
.reach,
.capacity {
	padding-top: 6px;
}

.btn {
	margin-top: 10px;
}
/* mounting page */
.mountingTitle {
	margin-top: 16px;
	text-align: center;
}

.baseTitle,
.flangeTitle {
	margin-top: 16px;
	margin-bottom: 20px;
	text-align: center;
}